</main>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <p>&copy;2018-2019 Sarah Bartley. All Rights Reserved.</p>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <p>Email: sbartley1080@gmail.com</p>
      </div>

      <div class="col-sm-12 col-md-3 col-lg-4">
        <nav>
          <ul class="nav">
            <li class="nav-item">
              <a href="http://www.facebook.com/sarahbartleybpc" target="_blank" class="nav-link">
                <i class="fab fa-facebook fa-2x"></i>
              </a>
            </li>

            <li class="nav-item">
              <a href="https://twitter.com/TheOriginalBPC" target="_blank" class="nav-link">
                <i class="fab fa-twitter-square fa-2x"></i>
              </a>
            </li>

            <li class="nav-item">
              <a href="https://www.linkedin.com/in/sarahbartleybpc" target="_blank" class="nav-link">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </li>

            <li class="nav-item">
              <a href="https://www.instagram.com/britishpandachick" target="_blank" class="nav-link">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </li>

            <li class="nav-item">
              <a href="http://www.pinterest.com/theoriginalbpc" target="_blank" class="nav-link">
                <i class="fab fa-pinterest fa-2x"></i>
              </a>
            </li>

            <li class="nav-item">
              <a href="https://github.com/BritishPandaChick" target="_blank" class="nav-link">
                <i class="fab fa-github fa-2x"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- JS File -->
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
