<%- include("partials/header") %>

<div class="container">
  <section id="wordpress">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>WordPress Projects</h2>
      <p>Mrs. Hurst sang with her sister, and while they were thus employed, Elizabeth could not help observing, as she turned over some music-books that lay on the instrument, how frequently Mr. Darcy’s eyes were fixed on her. She hardly knew how to suppose that she could be an object of admiration to so great a man; and yet that he should look at her because he disliked her, was still more strange. She could only imagine, however, at last that she drew his notice because there was something more wrong and reprehensible, according to his ideas of right, than in any other person present. The supposition did not pain her. She liked him too little to care for his approbation.</p>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img src="/img/joeportfoliosite.png" alt="Librarian Portfolio Site" class="img-responsive">
        <button type="button" class="btn btn-success btn-lg btn-block" onclick="openLibrarianSite()">See Project</button>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <img src="/img/sean-site.jpg" alt="Author Website" class="img-responsive">
        <button type="button" class="btn btn-success btn-lg btn-block" onclick="openAuthorSite()">See Project</button>
      </div>
    </div>
  </section>

  <section id="freecodecamp">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>Free Code Camp Projects</h2>
      <p>Mrs. Hurst sang with her sister, and while they were thus employed, Elizabeth could not help observing, as she turned over some music-books that lay on the instrument, how frequently Mr. Darcy’s eyes were fixed on her. She hardly knew how to suppose that she could be an object of admiration to so great a man; and yet that he should look at her because he disliked her, was still more strange. She could only imagine, however, at last that she drew his notice because there was something more wrong and reprehensible, according to his ideas of right, than in any other person present. The supposition did not pain her. She liked him too little to care for his approbation.</p>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img src="/img/tributepage2.16.png" alt="Tribute Page" class="img-responsive">
        <button type="button" class="btn btn-success btn-lg btn-block" onclick="openTributePage()">See Project</button>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <img src="/img/fcc-quote-generator.png" alt="Quote Generator" class="img-responsive">
        <button type="button" class="btn btn-success btn-lg btn-block" onclick="openQuoteGenerate()">See Project</button>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <img src="/img/fcc-markdown.png" alt="Markdown Previewer" class="img-responsive">
        <button type="button" class="btn btn-success btn-lg btn-block" onclick="openMarkdownPreview()">See Project</button>
      </div>
    </div>
  </section>

  <section id="skillcrush">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>Skillcrush Projects</h2>
      <p>Mrs. Hurst sang with her sister, and while they were thus employed, Elizabeth could not help observing, as she turned over some music-books that lay on the instrument, how frequently Mr. Darcy’s eyes were fixed on her. She hardly knew how to suppose that she could be an object of admiration to so great a man; and yet that he should look at her because he disliked her, was still more strange. She could only imagine, however, at last that she drew his notice because there was something more wrong and reprehensible, according to his ideas of right, than in any other person present. The supposition did not pain her. She liked him too little to care for his approbation.</p>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img src="/img/magic8ball2.16.png" alt="Magic 8 Ball Project" class="img-responsive" />
        <button type="button" class="btn btn-success btn-lg btn-block" onclick="openMagicBall()">See Project</button>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <img src="/img/electionmap2.16.png" alt="Election Map" class="img-responsive">
        <button type="button" class="btn btn-success btn-lg btn-block" onclick="openElectionMap()">See project</button>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <img src="/img/catclock2.16.png" alt="LOL Cat Clock Project" class="img-responsive">
        <button type="button" class="btn btn-success btn-lg btn-block" onclick="openCatClock()">See Project</button>
      </div>
    </div>
  </section>

  <section id="hundred-days">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>100 Days of Code Challenge</h2>
      <p>Mrs. Hurst sang with her sister, and while they were thus employed, Elizabeth could not help observing, as she turned over some music-books that lay on the instrument, how frequently Mr. Darcy’s eyes were fixed on her. She hardly knew how to suppose that she could be an object of admiration to so great a man; and yet that he should look at her because he disliked her, was still more strange. She could only imagine, however, at last that she drew his notice because there was something more wrong and reprehensible, according to his ideas of right, than in any other person present. The supposition did not pain her. She liked him too little to care for his approbation.</p>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img src="/img/wedding-website.jpg" alt="Wedding Website" class="img-responsive">
        <button type="button" class="btn btn-success btn-lg btn-block" onclick="openEventInvite()">See Project</button>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <img src="/img/movie-site.jpg" alt="Movie Website" class="img-responsive">
        <button type="button" class="btn btn-success btn-lg btn-block" onclick="openMovieTrailer()">See Project</button>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <img src="/img/tourist-attraction.jpg" alt="Tourist Attraction Website" class="img-responsive">
        <button type="button" class="btn btn-success btn-lg btn-block" onclick="openTouristAttract()">See Project</button>
      </div>
    </div>
  </section>
</div>

<%- include("partials/footer") %>
