/* ==== Basic Styles ==== */
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #fdfcfb;
  width: 100%;
  margin: 0 auto;
  color: #333;
}

/* ==== Header ==== */
header {
  background-color: #558976;
}

header h1 {
  font-size: 37px;
  font-family: 'Homemade Apple', cursive;
  color: #fdfcfb;
}

header nav ul li {
  font-weight: bold;
}

header nav ul li a {
  text-transform: uppercase;
  color: #f6f2ea;
  font-size: 20px;
}

header nav ul li a:hover {
  color: #fdfcfb;
}

/* ==== Footer ==== */
footer {
  background: #558976;
  padding: 15px 0;
}

footer p {
  font-size: 18px;
  color: #f6f2ea;
}

footer ul li i {
  color: #385001;
}

footer ul li i:hover {
  color: #9dac38;
}

/* ==== Home Page ==== */
#career-compass, #design, #frontend, #backend {
  padding: 20px 0;
}

#career-compass p, #design p, #frontend p, #backend p {
  color: #333;
  line-height: 32px;
  font-size: 20px;
}

/* ==== About Page ==== */
#about, #education, #honors, #blogs, #publications, #side-projects {
  padding: 20px 0;
}

#about h2 {
  font-size: 35px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  word-spacing: 15px;
}

#about p, #education p, #honors p, #blogs p, #publications p, #side-projects p {
  line-height: 32px;
  color: #333;
  font-size: 20px;
}

#education h3, #honors h3, #blogs h3, #publications h3, #side-projects h3 {
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
}

#honors h3, #blogs h3 {
  padding-bottom: 10px;
}

#blogs h4 {
  font-size: 25px;
}

#blogs button, #side-projects button {
  font-size: 20px;
}

#publications ul li {
  font-size: 20px;
}

/* ==== Portfolio Page ==== */
#cat-clock, #election-map, #author-site {
  padding: 20px 0;
}

#cat-clock h2 {
  font-size: 35px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  padding: 15px 0;
}

#cat-clock h3, #election-map h3, #author-site h3 {
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  text-align: center;
}

#cat-clock p, #election-map p, #author-site p {
  font-size: 20px;
  line-height: 32px;
}

#cat-clock button, #election-map button, #author-site button {
  font-size: 20px;
}