/* Variables */
$base-font: 'Roboto Condensed', sans-serif;
$headline-font: 'Homemade Apple', cursive;
$base-color: #333;
$white-color: #fdfcfb;
$background-color: #558976;
$link-color: #f6f2ea;
$icon-color: #385001;
$icon-hover-color: #9dac38;

/* ==== Base Styles ==== */
body {
  font-family: $base-font;
  background-color: $white-color;
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* ==== Header ==== */
header {
  background-color: $background-color;

  h1 {
    font-size: 37px;
    font-family: $headline-font;
    color: $white-color;
    padding: 50px 25px;
  }

  nav ul {
    padding: 40px 0;
  }

  nav ul li {
    font-weight: bold;
  }

  nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: $link-color;
    font-size: 20px;
  }

  nav ul li a:hover {
    color: $white-color;
  }
}

/* ==== Footer ==== */
footer {
  background: $background-color;
  padding: 15px 0;

  p {
    font-size: 18px;
    color: $link-color;
  }

  ul li i {
    color: $icon-color;
  }

  ul li i:hover {
    color: $icon-hover-color;
  }
}

/* ==== Home Page ==== */
#career-compass {
  padding: 20px 0;

  p {
    color: $base-color;
    line-height: 32px;
    font-size: 20px;
  }
}

#skills {
  padding: 20px 0;

  i {
    color: $background-color;
    padding: 20px 30px;
  }

  p {
    color: $base-color;
    line-height: 32px;
    padding-left: 15px;
    font-size: 20px;
  }
}

/* ==== About Page ==== */
#about {
  padding: 20px 0;

  h2 {
    font-size: 35px;
    font-family: $headline-font;
    color: $icon-color;
    word-spacing: 15px;
  }

  p {
    line-height: 32px;
    color: $base-color;
    font-size: 20px;
  }
}

#education {
  padding: 20px 0;

  h2 {
    font-size: 35px;
    font-family: $headline-font;
    color: $icon-color;
  }

  p {
    line-height: 32px;
    color: $base-color;
    font-size: 20px;
  }

  .awards {
    padding-bottom: 25px;
  }
}

#blogs {
  padding: 20px 0;

  h2 {
    font-size: 35px;
    font-family: $headline-font;
    color: $icon-color;
    padding-bottom: 15px;
  }

  h3 {
    font-size: 25px;
    color: $base-color;
  }

  p {
    line-height: 32px;
    color: $base-color;
    font-size: 20px;
  }

  button {
    margin-bottom: 50px;
    font-size: 20px;
  }
}

#publications {
  padding: 20px 0;

  h2 {
    font-size: 35px;
    font-family: $headline-font;
    color: $icon-color;
  }

  p {
    line-height: 32px;
    color: $base-color;
    font-size: 20px;
  }

  ul li {
    color: $base-color;
    font-size: 20px;
  }
}

#side-projects {
  padding: 20px 0;

  h2 {
    font-size: 35px;
    font-family: $headline-font;
    color: $icon-color;
    padding-bottom: 15px;
  }

  p {
    line-height: 32px;
    color: $base-color;
    font-size: 20px;
  }

  button {
    margin-bottom: 50px;
    font-size: 20px;
  }
}

/* ==== Portfolio Page ==== */
#wordpress {
  padding: 20px 0;

  h2 {
    font-size: 35px;
    font-family: $headline-font;
    color: $icon-color;
    padding: 15px 0;
  }

  p {
    line-height: 32px;
    color: $base-color;
    font-size: 20px;
  }
}

#freecodecamp {
  padding: 20px 0;
}

#skillcrush {
  padding: 20px 0;
}

#hundred-days {
  padding: 20px 0;
}

#wordpress img {
  padding: 30px 0;
}

#freecodecamp h2 {
  font-size: 35px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  padding: 15px 0;
}

#freecodecamp p {
  line-height: 32px;
  color: #333;
  font-size: 20px;
}

#freecodecamp img {
  padding: 30px 0;
}

#skillcrush h2 {
  font-size: 35px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  padding: 15px 0;
}

#skillcrush p {
  line-height: 32px;
  color: #333;
  font-size: 20px;
}

#skillcrush img {
  padding: 30px 0;
}

#hundred-days h2 {
  font-size: 35px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  padding: 15px 0;
}

#hundred-days p {
  line-height: 32px;
  color: #333;
  font-size: 20px;
}

#hundred-days img {
  padding: 30px 0;
}
